/*-----------------------------Tag selectors-----------------------------*/

body{
  margin:0;
  font-size:100%;
  padding:0;
  width:100%;
  box-sizing: border-box;
}
h1{
  font-size:5vw;
  font-family: 'Roboto', sans-serif;
}
h2{
  font-size:3vw;
  font-family: 'Viga', sans-serif;
}
p{
  font-family: 'Acme', sans-serif;
}
h3{
  font-size: 2vw;
  font-family: 'Viga', sans-serif;
}
/*-----------------------------Navbar class selectors-----------------------------*/
.navbar{
  background-color: #7e7474;
  margin:0;
  padding:0;
  height:70px;
  position: fixed;
  z-index:999;
  top:0;
  width:100%;
}
.navbar-button{
  margin:0 10px;
  position:relative;
}

.navbar-toggler{
  background-color:#7e7474;
  border:none;
  cursor:pointer;
  transition: padding-left 0.3s;
}
.navbar-toggler-icon{
  max-width:80px;
  height:61px;
  filter:contrast(300%);
}
.navbar-items{
  margin-top:3.5px;
  display:none;
  position:absolute;
  z-index : 999;
  top:0;
  left:-0.620rem;
  padding: 10px 1300px 10px 10px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  background-color:#7e7474;
}

.navbar-items a{
  text-decoration:none;
  padding:10px;
  display:block;
  color:white;
  font-weight:bold;
  transition: padding-left 0.3s;
}
.navbar-button:hover .navbar-items{
 display:block;
}
.navbar-toggler:hover , .navbar-items a:hover{
  transform: scale(1.1);
  padding-left:3px;
  color:#ffb26b;
}

/*-----------------------------Main class selectors-----------------------------*/
.main{
  background-color: #555555;
  color:white;
  width:100%;
}
/*-----------------------------Intro class selectors-----------------------------*/

.intro{
  padding-top:110px;
  display:inline-block;
  width:100%;

}

.heading{
  padding-top:80px;
  color:#d89216;
}

.heading span{
  transition:padding-right 0.2s;
}

.heading span:hover{
  padding-right:5px;
  transform :scale(1.1);
}
.info p{
  font-size:18px;
}
.giphy{
  float:left;
  max-width:480px;
  height:500px;
  margin-right:170px;
}


/*-----------------------------About class selectors-----------------------------*/

.about{
  padding:1px 0 50px;
  text-align: center;
  background-color: white;
  color:black;
}
.headingme{
  color:#e27802;
  padding-top:15px;
}
.about p{
  width:65%;
  margin:auto;
}

/*-----------------------------Skills class selectors-----------------------------*/
.skills{
  height:670px;
  background-color: #555555;
  color:black;
  padding-bottom:30px;
}
.title-skills{
  color:#e27802;
  text-align: center;
}
.skill1{
  background : url("../images/frontend.gif") no-repeat;
}
.skillheading{
  color:#e27802;
  font-size:2.5vw;
  font-weight: bold;
}

.skill1 p , .skill2 p{
  font-weight: bold;
  margin: 30px auto;
}

.skill2{
  background : url("../images/coding.gif") no-repeat;
}
.skill1 , .skill2{
  background-size: cover;
  max-width:500px;
  height:250px;
  border-radius:40px;
  filter: contrast(60%);
  text-align: center;
  margin-bottom:50px;
  padding-top:15px;
}

.skill1:hover , .skill2:hover{
  transform: scale(1.1);
}


/*-----------------------------Hobbies class selectors-----------------------------*/

.hobbies{
  padding-top:30px;
  background-color: white;
}
.title-hobbies{
  color:#e27802;
  padding-bottom:40px;
}
.hobbiesheading{
  color:#d89216;
}

.hobbyimg{
  max-width:200px;
  height:200px;
}
.hobbyimg:hover{
  transform: scale(1.1);
}
.hobby p{
  color:black;
  width:50%;
}
.hobby{
  width:60%;
  margin:auto;
  padding-bottom:15px;
}


/*-----------------------------Footer class selectors-----------------------------*/
.footer{
  height:40vh;
  background-color: #555555;
  color:white;
  padding-top:10px;
  margin-top:70px;
}

.links img {
  width: 50px;
  margin-right: 10px;
}
.copyright{
margin-top: 0;
}
.links img:hover {
transform: scale(1.1);
}


/*-----------------------------Responsive CSS-----------------------------*/

@media screen and (max-width:400px) and (min-width:50px){
  .about p{
  font-size:3vw;
  }
  .headingme{
    font-size:6vw;
  }
  .intro p{
    font-size:5vw;
  }

 
}

@media screen and (max-width:600px){
  .intro{
    padding-bottom:30px;
  }
  .info{
    text-align:center;
    margin:auto;
    width:100%;
  }
  .heading{
    font-size:30px;
  }
  .giphy{
    width:100%;
  }
  .navbar-button{
    margin-left:0;
  }
  .headingme{
    font-size:5vw;
  }
  .title-skills{
    font-size:6vw;
    padding:20px inherit;
  }
  .skills{
    text-align: center;
    height:580px;
  }
  .skills div{
    margin:auto;
    padding-bottom: 30px;
    margin-bottom:30px;
  }

  .skillheading{
    font-size:5vw;
  }
  .skill1 , .skill2{
    width:200px;
    height:200px;
  }
  .title-hobbies{
    font-size:7vw;
  }
  .hobbiesheading{
    font-size:5vw;
  }
  .hobbyimg{
    width:150px;
  }

}
@media screen and (min-width:580px) and (max-width:768px){
  .intro{
    padding-bottom:20px;
  }
  .info{
    text-align:center;
    width:100%;
  }
  .heading{
    font-size:35px;
  }
  .giphy{
    margin:auto;
  }
  .headingme{
    font-size:4.5vw;
  }
  .title-skills{
    font-size:5vw;
  }
  .skillheading{
    font-size:4vw;
  }

  .title-hobbies{
    font-size:5vw;
  }
  .hobbiesheading{
    font-size:3vw;
  }
  
}
@media screen and (min-width:750px) and (max-width:992px){
  .intro{
    padding-bottom:20px;
  }
  .info{
    text-align:center;
    width:100%;
  }
  .heading{
    font-size:6vw;
  }
  .giphy{
    margin:auto;
  }
  .headingme{
    font-size:4vw;
  }
  .title-skills{
    font-size:4vw;
  }
  .skillheading{
    font-size:3vw;
  }
  .title-hobbies{
    font-size:4vw;
  }
  .hobbiesheading{
    font-size:2.5vw;
  }

}
